<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.home.title">Factura Detalles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-factura-detalle" [routerLink]="['/factura-detalle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.home.createLabel">
            Create a new Factura Detalle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facturaDetalles?.length === 0">
        <span jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.home.notFound">No facturaDetalles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facturaDetalles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productoId"><span jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.productoId">Producto Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cantidad"><span jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.cantidad">Cantidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="precioUnitario"><span jhiTranslate="gatewaystoreApp.facturacionmicroservicioFacturaDetalle.precioUnitario">Precio Unitario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facturaDetalle of facturaDetalles ;trackBy: trackId">
                    <td><a [routerLink]="['/factura-detalle', facturaDetalle.id, 'view']">{{ facturaDetalle.id }}</a></td>
                    <td>{{ facturaDetalle.productoId }}</td>
                    <td>{{ facturaDetalle.cantidad }}</td>
                    <td>{{ facturaDetalle.precioUnitario }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/factura-detalle', facturaDetalle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/factura-detalle', facturaDetalle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facturaDetalle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="facturaDetalles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
